@model LocalGourmet.PL.ViewModels.ReviewsIndexVM
<!DOCTYPE html>

@{
    ViewBag.Title = "Reviews";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Reviews</h1>
    <hr />
    <div>
        <a href=@($"/Reviews/Create") class="btn btn-default btn-toolbar">Add new Review</a>
        <a href="/Reviews/Index?sort=byRevName" class="btn btn-default btn-toolbar">Sort By Reviewer Name Asc.</a>
        <a href="/Reviews/Index?sort=byComment" class="btn btn-default btn-toolbar">Sort By Comment Asc.</a>
        <a href="/Reviews/Index?sort=byRating" class="btn btn-default btn-toolbar">Sort By Overall Rating Desc.</a>
    </div>
    <br />
    <table class="table">
        <tr>
            <th>
                Restaurant Name
            </th>
            <th>
                Reviewer Name
            </th>
            <th>
                Comment
            </th>
            <th>
                Overall Rating
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Reviews)
        {
            string name = "";
            try
            {
                name = Model.Restaurants.First(x => x.ID == item.RestaurantID).Name;
            }
            catch
            {
                // ignore
            }
        <tr>
            <td>
                @name
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @item.GetRating()
            </td>
            <td>
                <div style="min-width: 200px;">
                    <a href=@($"/Reviews/Details/{item.ID}") class="btn btn-default btn-toolbar">Details</a>
                    <a href=@($"/Reviews/Edit/{item.ID}") class="btn btn-default btn-toolbar">Edit</a>
                    <a href=@($"/Reviews/Delete/{item.ID}") class="btn btn-default btn-toolbar">Delete</a>
                </div>
            </td>
        </tr>
        }

    </table>
</body>
</html>
