body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url(WaterlooBanquetWilliamSalter.JPG);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%;
}

.backdrop {
    background-color: whitesmoke;
    border: solid 1px whitesmoke;
    border-radius: 4px;
    padding-left: 10px;
}

.title {
    display: inline-block;
    font-weight: bold;
    color: black;
    background-color: purple;
    border: solid 1px dimgray;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.pad {
    padding: 10px;
}

.img {
    border: 3px solid red;
}

.btn:hover {
    border: solid 1px red;
    background-color: pink;
}

input:focus {
    background-color: blanchedalmond;
}
