@{
    ViewBag.Title = "About";
}
<br />
<div class="panel panel-default">
    <div class="panel-heading panel-title"><h1>@ViewBag.Title</h1></div>
    <section class="panel-body row">
        <div class="col-lg-1"></div>
        <div class="col-lg-4 panel panel-default">
            <h2 class="panel-heading panel-title">Description</h2>
            <div class="panel-body">
                <p>
                    Local Gourmet is an app that tracks restaurant reviews.
                    You can browse, search for and sort restaurants, sort 
                    reviews, and compare restaurants based on their reviews
                    and ratings.
                </p>
            </div>
        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-4 panel panel-default">
            <h2 class="panel-heading panel-title">Features</h2>
            <div class="panel-body">
                <p>Search by</p>
                <ul>
                    <li>restaurant name</li>
                </ul>
                <br />
                <p>Sort by the restaurant's</p>
                <ul>
                    <li>name</li>
                    <li>cuisine</li>
                    <li>average rating</li>
                </ul>
                <p>View top 3 restaurants</p>
                <p>Sort by the review's</p>
                <ul>
                    <li>reviewer name</li>
                    <li>comment</li>
                    <li>overall rating</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-1"></div>
    </section>
</div>

