@{
    ViewBag.Title = "Home";
}

<br />
<div>
    <button class="btn btn-default btn-danger tablink" onclick="openPage(event, 'img1')" style="width:96px;">1</button>
    <button class="btn btn-default btn-danger tablink" onclick="openPage(event, 'img2')" style="width:96px;">2</button>
    <button class="btn btn-default btn-danger tablink" onclick="openPage(event, 'img3')" style="width:96px;">3</button>
    <button class="btn btn-default btn-danger tablink" onclick="openPage(event, 'img4')" style="width:96px;">4</button>
    <button class="btn btn-default btn-danger tablink" onclick="openPage(event, 'img5')" style="width:96px;">5</button>
    <button class="btn btn-default btn-danger tablink" onclick="openPage(event, 'img6')" style="width:96px;">6</button>
    <button class="btn btn-default btn-danger tablink" onclick="openPage(event, 'img7')" style="width:96px;">7</button>
    <button class="btn btn-default btn-danger tablink" onclick="openPage(event, 'img8')" style="width:96px;">8</button>
</div>
<div>
    <img id="img1" class="Page img" style="height: 600px; width: 800px; display:block;" src="https://pixnio.com/free-images/2017/05/31/2017-05-31-10-37-25-900x600.jpg" alt="First slide">
    <img id="img2" class="Page img" style="height: 600px; width: 800px; display:none;" src="https://www.maxpixel.net/static/photo/1x/Roasted-Food-Duck-Meat-Vietnamese-Gourmet-Dinner-468161.jpg" alt="Second slide">
    <img id="img3" class="Page img" style="height: 600px; width: 800px; display:none;" src="https://cdn.gobankingrates.com/wp-content/uploads/2016/10/1_Cheyne-Kobzoff_shutterstock_295870706-848x477.jpg" alt="Third slide">
    <img id="img4" class="Page img" style="height: 600px; width: 800px; display:none;" src="https://i.amz.mshcdn.com/usVe3ZNxKuIJFALuZ136W9tbLCU=/950x534/filters:quality(90)/https%3A%2F%2Fblueprint-api-production.s3.amazonaws.com%2Fuploads%2Fcard%2Fimage%2F471028%2F94cfb19f-f5d8-4263-beee-aa21826a7b3f.jpeg" alt="Fourth slide">
    <img id="img5" class="Page img" style="height: 600px; width: 800px; display:none;" src="http://honolulumagazine-images.dashdigital.com/images/2016/06-16/moena-cafe.jpg?ver=1466468813" alt="Fifth slide">
    <img id="img6" class="Page img" style="height: 600px; width: 800px; display:none;" src="https://hotelodeon.net/wp-content/uploads/2017/08/yellowdoor047.jpg" alt="Sixth slide">
    <img id="img7" class="Page img" style="height: 600px; width: 800px; display:none;" src="http://1.bp.blogspot.com/-jbExfg5jHvk/UIRL3prt5gI/AAAAAAAABM8/evjUi6gKW_Q/s1600/20121007+food+and+drink+fire+roasted+tomato+soup+and+gourmet+grilled+cheese+with+bacon_DSC3414.jpg" alt="Seventh slide">
    <img id="img8" class="Page img" style="height: 600px; width: 800px; display:none;" src="" alt="Eighth slide">
</div>
<br />
<script>
    function openPage(evt, pageName) {
        var i, x, tablinks;
        if (document.getElementById(pageName).style.display == "block") {
            document.getElementById(pageName).style.display = "none";
            x = document.getElementsByClassName("Page");
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < x.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" w3-pale-red", "");
            }
        } else {
            x = document.getElementsByClassName("Page");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < x.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" w3-pale-red", "");
            }
            document.getElementById(pageName).style.display = "block";
            evt.currentTarget.className += " w3-pale-red";
        }
    }
</script>
